<h1>LIST PRODUCTS</h1>
<%= link_to('New products',new_product_path) %>
<table class="table table-striped">
  <tr>
    <th>
      Title
    </th>
    <th>
      Price
    </th>
    <th>
      Category
    </th>
  </tr>
<% @products.each do |p| %>

    <tr>
      <th>
        <%= p.title %>
      </th>
      <th>
        <%= p.price %>
      </th>
      <th>
        <%= p.category.try(:title) %>
      </th>
      <th>
        <%= link_to('Read more',product_path(p)) %>
        <%= link_to('Edit ',edit_product_path(p)) %>
      </th>
    </tr>

<% end %>
</table>
