<p>
  <%= @product.title %>
</p>
<p>
  <%= @product.price %>
</p>
<p>
  <%= @product.description %>
</p>
<p>
  <%= @product.category.try(:title) %>
</p>
<p>
  <%= @product.level %>
</p>
<p>
  <%= @product.country %>
</p>
